#mycard{
  padding: 10px;
  height: 170px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.margin-top-base{
  margin-top: 16px;
 
}
.margin-bottom-base{
  margin-bottom: 16px;
}
.margin-left-base{
  margin-left: 16px;
}
.margin-right-base{
  margin-right: 16px;
}
.padding-base{
  padding: 16px;
}
.padding-top-base
{
  padding-top: 10px;
}
.border-1p{
  border:1px solid #ffb9b9;
}
.ovflow-y
{
  overflow-x: hidden;
}
.ovflow-x
{
  overflow-x: hidden;
}
.login{
  height: 100%;
  margin-top: 8%;
  border: 1px solid rgb(3, 104, 3);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}
.login .log-head{
  color: #fff;
  background-color: #000099;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.error{
  color: red;
  font-weight: 400;
}
body{
 
  font-family: "Poppins" !important;
}
#clgname {
  font-size: 22px;
  margin-top: 13px;

}
#timedash
{
  padding: 20px;
  border: 1px solid #faec66; 
  margin-top:10px;
  background-color:#fff;
  border-radius: 10%;
}
@media only screen and (max-width: 576px) {
  #clgname {
    font-size: 22px;
    margin-top: 13px;

  }
}
@media only screen and (max-width: 576px) {
  #btnlog {
    float: right;
  }
}
#headerUser{
  text-align: center;
  margin-top: 11px;
  font-weight: 600;
}
#header{
  background-color:#0b5ed7 !important; 
  color:#fff;
}

/* customise jquery Search Box */
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  width: 163px;
  height: 24px;
  border: none;
  border-radius: 3px;
}

select {
  word-wrap: normal;
  /* padding: 0px 0px; */
  border: none;
  width: 46px;
  border-radius: 3px;
}